@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Nunito+Sans:opsz@6..12&family=Nunito:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&family=Roboto&family=Noto+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Hide scrollbar by default */
.scrollbar-show-on-hover::-webkit-scrollbar {
  width: 0;
}

/* Show scrollbar on hover */
.scrollbar-show-on-hover:hover::-webkit-scrollbar {
  width: 5px;
}

/* Keep scrollbar gutter stable */
.scrollbar-show-on-hover {
  scrollbar-gutter: stable;
}

/* Customize scrollbar thumb */
.scrollbar-show-on-hover::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Customize scrollbar thumb on hover */
.scrollbar-show-on-hover:hover::-webkit-scrollbar-thumb {
  background: #adadadaf;
  border-radius: 1px;
}

/* Dark mode customization */
body.dark .scrollbar-show-on-hover:hover::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  body.dark::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: #cc02ff;
  }

  body.dark::-webkit-scrollbar-thumb {
    background: #b8b8b8;
  }
}